.parentContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(0,0,0,0.7);
  color:white;
  font-family: "Saira";
  padding: 10px;
}

.passwordBox{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.inputContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 10px;
}

.errorText{
  color:red;
  font-size: 8px;
}