.bar{
    position: relative;
    width: 300px;
    height: 30px;
    background-color: beige;
    border-radius: 15px;
    overflow:hidden;
    margin-left: 10px;
}

.loadedBar{
    height: 100%;
    width: 100%;
    background-color: green;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.progressText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin:0;
    padding:0;
}